<h1>Edit a Client</h1>
<%= form_for @current_client, method: :patch, url: client_path(params[:id]) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :contact %>:
  <%= f.text_field :contact %><br />

  <%= f.submit class: 'btn btn-default btn-success' %>
<% end %>

  <br>
<%= button_to('CANCEL', clients_path, method: :get, class: 'btn btn-danger') %>
