<h1 id="model-name">Expeditions by locations:</h1>
<div class="row">
  <% if current_user.admin? %>
    <div class="col-md-6">
      <%= link_to 'Add new Expedition', new_client_expedition_path(@client), method: :get, class: 'btn btn-primary btn-sm' %>
        <h4>Import File:</h4>
      <%= form_tag import_client_expeditions_path(@client), multipart: true do %>
        <%= file_field_tag :file%> <%= submit_tag "Import file", class:'btn btn-default btn-success' %>
      <% end %>
      <br>
    </div>
  <% end %>
  <div class="col-md-3">
    <% if current_user.admin? %>
      <%= link_to('Print QR Expeditions', print_client_expeditions_path(@client), method: :get, target: "_blank", class: 'btn btn-primary') %>
      <br>
    <% end %>
    <%= button_to('Go to Locations', client_locations_path(@client), method: :get, class: 'btn btn-primary btn-warning') %>
    <br>
  </div>

  <div class="col-md-3">
    <h5 id="client"><%= @client.name %></h5>
      <%= button_to('Go to Clients', clients_path, method: :get, class: 'btn btn-primary btn-danger',style: "float: right;") %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead class="thead-inverse">
      <tr>
        <th>View</th>
        <% if current_user.admin? %>
          <th>Edit</th>
          <th>Delete</th>
          <th>QR Generate</th>
        <% end %>
        <th>Origin Location</th>
        <th>Destination Location</th>
        <th>Date</th>
        <th>Weight</th>
        <th>State</th>
        <th>Coordinates</th>
      </tr>
    </thead>
    <tbody>
      <% @expeditions.each do |expedition| %>
        <tr class=<%=expedition_state_row_class(expedition)%> >
          <td><%= link_to 'View', client_expedition_path(@client, expedition.id), method: :get %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_client_expedition_path(@client, expedition.id), method: :get %></td>
            <td><%= link_to 'X', client_expedition_path(@client, expedition.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
            <td class="qr-generation"><%= link_to('QR', print_client_expedition_path(@client, expedition), method: :get, target: "_blank") %></td>
          <% end %>
          <td><%= @client.locations.find_by(id: expedition.origin_location_id).name %></td>
          <td><%= @client.locations.find_by(id: expedition.destination_location_id).name %></td>
          <td><%= expedition.date %></td>
          <td><%= expedition.weight %></td>
          <td><%= expedition.state %></td>
          <td><%= expedition.geolocation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to('Map Expeditions', mapping_client_expeditions_path(@client), class: 'btn btn-primary') %>
