<h1>Edit a Location</h1>
<div class="form-horizontal col-md-6">
  <%= form_for @current_location, url: client_location_path(params[:client_id]) do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name, class:'form-group form-control' %><br />

    <%= f.label :internal_code %>:
    <%= f.text_field :internal_code, class:'form-group form-control' %><br />

    <%= f.label :direction %>:
    <%= f.text_field :direction, class:'form-group form-control' %><br />

    <%= f.label :postal_code %>:
    <%= f.text_field :postal_code, class:'form-group form-control' %><br />

    <%= f.label :hour_in %>:
    <%= f.time_field :hour_in, class:'form-group form-control' %><br />

    <%= f.label :hour_out %>:
    <%= f.time_field :hour_out, class:'form-group form-control' %><br />

    <%= f.label :contact %>:
    <%= f.text_field :contact, class:'form-group form-control' %><br />

    <%= f.label :route %>:
    <%= f.text_field :route, class:'form-group form-control' %><br />

    <%= f.submit class: 'btn btn-default btn-success'%>
  <% end %>
  <br>
  <%= button_to('CANCEL', client_locations_path(@client), method: :get, class: 'btn btn-danger') %>
</div>
