<h1 id="model-name">List of locations:</h1>
<div class="row">
  <% if current_user.admin? %>
    <div class="col-md-6">
    <%= link_to 'Add new Location', new_client_location_path, method: :get, class: 'btn btn-primary btn-sm' %>
      <h4>Import File:</h4>
      <%= form_tag import_client_locations_path(@client), multipart: true do %>
        <%= file_field_tag :file%> <%= submit_tag "Import file", class: 'btn btn-default btn-success'%>
      <% end %>
      <br>
    </div>
  <% end %>

  <div class="col-md-3">
    <h3>Expeditions:</h3>
    <%= link_to 'See all the expeditions', client_expeditions_path(client_id: @client.id), method: :get, class: 'btn btn-primary btn-xs'%>
  </div>
  <div class="col-md-3">
    <h5 id="client"><%= @client.name %></h5>
      <%= button_to('Go to Clients', clients_path, method: :get, class: 'btn btn-primary btn-danger',style: "float: right;") %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
  <thead class="thead-inverse">
    <tr>
      <% if current_user.admin? %>
        <th>Edit</th>
        <th>Delete</th>
      <% end %>
      <th>Expeditions</th>
      <th>Code</th>
      <th>Name</th>
      <th>Direction</th>
      <th>Zip Code</th>
      <th> Hour In</th>
      <th>Hour Out</th>
      <th>Contact</th>
      <th>route</th>
    </tr>
  </thead>
  <tbody>


    <% @locations.each do |location| %>
      <tr>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_client_location_path(@client, location), method: :get %></td>
          <td><%= link_to 'X', client_location_path(@client, location), method: :delete, data: {confirm: "Are you sure?"}%></td>
        <% end %>
        <td><%= link_to 'View', client_expeditions_path(@client, location_id: location.id), method: :get %></td>
        <td><%= location.internal_code %></td>
        <td><%= location.name %></td>
        <td><%= location.direction %></td>
        <td><%= location.postal_code %></td>
        <td><%= location.hour_in %></td>
        <td><%= location.hour_out %></td>
        <td><%= location.contact %></td>
        <td><%= location.route %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
